// colors
$dark-red: hsl(0, 100%, 67%);
$dark-yellow: hsl(39, 100%, 56%);
$dark-green: hsl(166, 100%, 37%);
$dark-blue: hsl(234, 85%, 45%);

$light-red: rgba(255, 246, 245, 1);
$light-yellow: rgba(255, 251, 242, 1);
$light-green: rgba(242, 251, 250, 1);
$light-blue: rgba(243, 243, 253, 1);

.panel {
    width: 100%;
    height: 55px;
    margin-bottom: 17px;
    border-radius: 12px;
    border: 1px solid rgba(250, 240, 241, 1);

    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    &--red {
        background: $light-red;
        color: $dark-red;
    }

    &--yellow {
        background: $light-yellow;
        color: $dark-yellow;
    }

    &--green {
        background: $light-green;
        color: $dark-green;
    }

    &--blue {
        background: $light-blue ;
        color: $dark-blue ;
    }

    &__left__icon {
        margin-right: 17px;
    }

    &__right {
        font-weight: 700;

        &__score {
            color: rgba(48, 59, 89, 1);
        }

        &__total {
            &::before {
                content: '/';
                margin: 0 5px;
            }

            color: rgba(148, 149, 167, 1);
        }
    }
}